@import '../../styles/_vars.scss';
@import '../../styles/Main.scss';

.ListTasks {
	@extend .glassmorphism;
	min-width: 30rem;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.ListTaskCreate {
	width: 90%;
	padding: 10px 6px;
	border: none;
	border-radius: 8px;
	background-color: rgb(217, 217, 217);
}
.ListTaskCreate:focus {
	outline-color: $light-white;
}
.ListTaskCreate::placeholder {
	font-size: 1.4rem;
	vertical-align: 4px;
}

.ContainerList{
	width: 90%;
	padding: 10px;
	background-color: $light-white;
	border-radius: 8px;
}
