@import '../../styles/_vars.scss';

.addButton {
	position: fixed;
	right: 40px;
	bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: $red-ligth;
	border: none;
	border-radius: 40px;
	font-size: 3rem;
	font-weight: bold;
	color: $light-white;
	cursor: pointer;
	//Cuando regrese a su posición inicial
	transform: rotate(0);
	transition: 0.3s ease;
	&:hover {
		transform: rotate(180deg);
	}
	z-index: 1;
}

.addButton:focus{
	transform: scaleX(0.8);
}

.standardButton {
	min-width: 100px;
	padding: 8px;
	align-self: center;
	border: none;
	background-color: $red-ligth;
	color: $light-white;
	border-radius: 20px;
	cursor: pointer;
}
