@import './Main.scss';

.TodoTaskCreate{
    width: 90%;
    padding: 10px 6px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background-color: rgb(217, 217, 217);
}
.TodoTaskCreate:focus{
    outline-color: $light-white;
}
.TodoTaskCreate::placeholder{
    font-size: 1.4rem;
    vertical-align: 4px;
}

