
.glassmorphism {
	background: rgba(52, 123, 255, 0.25);
	box-shadow: 0 4px 16px 0 rgba(58, 70, 238, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(95, 126, 241, 0.18);
}

.mainContainer{
    display: flex;
    gap: 4rem;
    width: 100%;
    height: 100vh;
    padding: 30px;
}

.createTask{
    @extend .glassmorphism;
    min-width: 20rem;
    width: 30rem;
    padding: 20px;
    
}

.todoTasks{
    width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}