@use './normalize.css';
@import './vars';

/*
1.Posicionamiento -> static, absolute, relative, fixed,flex, grid
2.BoxModel -> margin, border, padding, content
3.Tipografia -> ipos, tamaños de fuente, etc
4.VisualTopics  -> box-shadow, border-radius, gradient, etc
5.Miscelanios u otros
*/


* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	background-color: $gray-dark;
	/* background-image: linear-gradient(to right, #8360c3, #2ebf91); */
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.4rem;
	color: $light-white;
	background-position: center;
}

.glassmorphism {
	background: $gray-ligth;
	box-shadow: 0 4px 16px 0 rgba(242, 243, 248, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(241, 243, 251, 0.18);
}

.ListTaskCreate {
	width: 90%;
	padding: 10px 6px;
	border: none;
	border-radius: 8px;
	background-color: $gray-dark;
	color: $light-white;
}
.ListTaskCreate:focus {
	outline: 0.2rem solid;
}
.ListTaskCreate::placeholder {
	font-size: 1.4rem;
	vertical-align: 4px;
}
