@import '../../styles/Main.scss';
form {
    width: 100%;
    max-width: 320px;
    background-color: #fff;
    padding: 24px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 4px ;
    color: $gray-dark;
  }
  
  label {
    font-weight: 600;
    color: #1E1E1F;
    padding: 10px;
  }

  .InputTitle{
    color: #1E1E1F;
    background-color: #F9FBFC;
    border-radius: 2px;
    border: 1px solid #202329;
    padding: 8px;
    &::placeholder{
      color: #a5a5a5;
      font-family: 'Montserrat';
    }
    &:focus{
      outline-color: $gray-dark;
    }

  }
  
  textarea {
    background-color: #F9FBFC;
    border: 1px solid #202329;
    border-radius: 2px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    color: #1E1E1F;
    font-size: 2rem;
    padding: 12px;
    height: 100px;
    width: 100%;
    &::placeholder{
      color: #a5a5a5;
      font-family: 'Montserrat';
    }
    &:focus{
      outline-color: $gray-dark;
    }
  }

  .TodoFormButtonContainer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  